
.container {
  text-align: center;
  margin: 70px;
  padding: 50px;
  background-color: #BCECF2;
}

.button{
color: white;
background-color: #3BDEF1;
margin: 10px;
padding: 10px;
border-radius: 15px;
font-size: 24px;
border-color: #3BDEF1;
}